---
const title = 'WKL';
---
<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
  </head>
  <body>
    <main><h1>把好奇心，做成看得见的东西。</h1></main>
  </body>
</html>
